$primary_theme_color: #c7a77f;
$secondary_theme_color: #350606;
$tertiary_theme_color: #ff962e;
$quaternary_theme_color: #edbd35;
$gray: #67696B;
$dark_grey: rgb(58, 56, 56);
$white: #ffffff;
$light_grey: rgb(243, 243, 243);
$border-width: 30px;
$family: 'Montserrat', sans-serif;
$headers_weight: 900;
$weight: 100;

// Breakpoints
$mac: 1440px;
$lt: 1366px;
$ls: 1280px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$mb: 480px;
$ip: 420px;
$xs: 320px;